@import '../../../../styles/core/colors';
.fieldControl-container{
                    border:1px solid $Black;
                    margin:5px;
                    cursor:pointer;
                    display:flex;
                    height:2em;
                    

                    .field-control-label{
                        flex-grow: 3;
                        padding:0.5em
                    }

                    .field-control-remove-icon{
                        flex-grow:0.1;
                        margin-right:auto;
                        padding:0.5em;
                        color:$Background-Color;
                    }

                    .field-control-remove-icon:before{
                        float:right;
                    }
}

.fieldControl-container:hover{
        background-color: $Grey02;
}

.selected{
    background-color: lightskyblue;
}