<div [formGroup]="controlGroup" *ngIf="_usesReactive">
  <mat-checkbox [formControlName]="controlName" [checked]="checked" [(ngModel)]="checked" *ngIf="!useToggle">{{text}}</mat-checkbox>
  <mat-slide-toggle [formControlName]="controlName" [checked]="checked" [(ngModel)]="checked" *ngIf="useToggle">{{text}}</mat-slide-toggle>
</div>

<div *ngIf="!_usesReactive">
  <mat-checkbox [checked]="checked" [(ngModel)]="checked" *ngIf="!useToggle">{{text}}</mat-checkbox>
  <mat-slide-toggle [checked]="checked" [(ngModel)]="checked" *ngIf="useToggle">{{text}}</mat-slide-toggle>
</div>
