<div class="middle-container">
  <h1 i18n="User welcome|An introduction header for the app">Create <b>Online Forms</b> like a Pro</h1>
  <div class="content">
    <div class="content-title" i18n="User welcome|An sub-introduction header for the app">Powerful Online Form Builder. Get an email for each response. Collect data.</div>
    <div class="description">
      <div class="step">
        <div class="icon">
          <span class="fa fa-5x fa-pencil-square-o" aria-hidden="true"></span>
        </div>
        <div class="step-title" i18n="Step Title">Design Form</div>
        <div class="step-desc" i18n="Step Description|An small writeup on the step">
           Design form using a simple Drag-and-drop designer with powerful controls
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <span class="fa fa-5x fa-paper-plane" aria-hidden="true"></span>
        </div>
        <div class="step-title" i18n="Step Title">Publish Form</div>
        <div class="step-desc" i18n="Step Description|An small writeup on the step">
           Publish forms to capture user submissions
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <span class="fa fa-5x fa-inbox" aria-hidden="true"></span>
        </div>
        <div class="step-title" i18n="Step Title">View Submissions</div>
        <div class="step-desc" i18n="Step Description|An small writeup on the step">
           View form submissions made by users.Receive emails.
        </div>
      </div>
    </div>
  </div>
  
</div>
