<li class="form-item">
  <div class="form-item-detail">
    <span class="form-title">{{form.name}}</span>
    <div class="form-detail">
      <span class="date">Created on {{form.modifiedDate}}.</span>
    </div>
  </div>
  <div class="action-container">
    <div class="action-item">
      <span class="fa fa-2x fa-pencil-square-o" aria-hidden="true" title="Edit Form"></span>
    </div>
    <div class="action-item">
      <span class="fa fa-2x fa-inbox" aria-hidden="true" title="View Inbox"></span>
    </div>
    <div class="action-item">
      <span class="fa fa-2x fa-trash" aria-hidden="true" title="Delete Form"></span>
    </div>
  </div>
</li>
