<div class="action-area">
    <!--<div class="add-row-left">
        Add Row
    </div>-->
    <a href="#" class="add-row" (click)="onRowAdd($event)" title="Add Row">
         <i class="fa fa-2x fa-plus-circle addrow-icon" aria-hidden="true"></i>
    </a>
</div>

<!-- TODO - Use wrapper tab component. Using directly because of issues with getting the tab wrapper component to work-->
<md-tab-group>
    <md-tab label="Basic" class="tab">
        <div class="controls-panel" *ngFor="let control of Controls">
            <div class="control" draggable="true" (dragstart)="onDragStart($event)" [attr.data-control]="control.type">
                <div class="control-icon">
                    <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
                </div>
                <div class="control-label">{{control.label}}</div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Widgets">
        <div>
            Coming Soon!!!
        </div>
    </md-tab>
</md-tab-group>


<!--<fd-tabs>
    <fd-tab [label]="Basic">
         <div class="controls-panel" *ngFor="let control of Controls">
            <div class="control" draggable="true" (dragstart)="onDragStart($event)" [attr.data-control]="control.type">
                <div class="control-icon">
                    <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
                </div>
                <div class="control-label">{{control.label}}</div>
            </div>
        </div>
    </fd-tab>
    <fd-tab [label]="Widgets">
         <div class="controls-panel" *ngFor="let control of Controls">
            <div class="control" draggable="true" (dragstart)="onDragStart($event)" [attr.data-control]="control.type">
                <div class="control-icon">
                    <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
                </div>
                <div class="control-label">{{control.label}}</div>
            </div>
        </div>
    </fd-tab>
</fd-tabs>-->

