<div class="row-container" 
    (dragover)="onDragOver($event)" 
    (dragenter)="onDragEnter($event)"
    (drop)="onDrop($event)" draggable="true"
    [attr.data-id]="RowAddArgs.Id">

        <div class="action-item" data-action="delete">
            <span class="fa fa-x fa-trash" aria-hidden="true" title="Delete Row" (click)="deleteRow()"></span>

        </div>
   
        <div #fieldContainer>
            <div class="form-instructions" *ngIf="showInstructions()">
                <span>
                    <i class="fa fa-x fa-arrows addrow-icon" aria-hidden="true"></i>
                    Drop form elements here
                </span>
            </div>
        </div>
    </div>