@import '../../../../styles/core/colors';
@import '../../../../styles/core/common';

.row-container{
     border:1px solid black;
     margin:10px;
     height: 8em;
     position:relative;

     .action-item{
         display:flex;
         flex-direction: column;
         span{
             flex-grow:0.5;
             text-align:right;
             cursor:pointer;
             padding:5px;
             color:$Background-Color;
            // width:20px;
         }
     }

     .form-instructions{
        width:80%;
        height:20px;
        border:5px dashed $Grey02;
        border-radius:5px;
        @include center-div();
        background-color:$Grey03;
        

        span{
            text-align:center; 
            display:block;
        }
    }
}