<!--<md-tab-group>
  <md-tab [label]="tabLabel">
    <ng-content></ng-content>
  </md-tab>
</md-tab-group>-->

  <!--<md-tab-group>
      <md-tab *ngFor="let tab of _tabs" label="Basic">
        
      </md-tab>   
      
  </md-tab-group>-->

    <md-tab-group>
      <!--<fd-tab>-->
        <md-tab label="Basic">
            <div class="controls-panel" *ngFor="let control of Controls">
            <div class="control" draggable="true" (dragstart)="onDragStart($event)" [attr.data-control]="control.type">
                <div class="control-icon">
                    <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
                </div>
                <div class="control-label">{{control.label}}</div>
            </div>
        </div>
        </md-tab>
        
    <!--</fd-tab>-->
     
      
  </md-tab-group>



  