<div class="form-rendered-container">
  <div class="form-title">{{form.name}}</div>
  <form [formGroup] = "_rootFormGroup" class="form">
      <div *ngFor="let row of _rows">
        <div class="row-container" [ngClass]="getRowClasses(row)">
            <div *ngFor="let field of row.fields" [ngClass]="getFieldContainerClasses(row)">
              <fd-field-control [field] = "field" [formGroup]="_rootFormGroup">
              
              </fd-field-control>
            </div>
        </div>
      </div>

      <div class="form-row">
        <fd-button [text]='getSubmitText()' [styles]="getStyles()" (notifyClick)="onCreateForm($event)"></fd-button>
      </div>
  </form>
<div>
