$Background-Color:#4EA1FF;
$LightBlue:lightskyblue;

$White:#FFFFFF;

$Grey:#f4f4f4;
$Grey02:#e5e5e5;
$Grey03:#F5F5F5;
$Grey03:#f2f2f2;
$DarkGrey:Gray;
$DarkGrey02:#545F6F;
$DarkGrey03:#37404A;

$Black: #333333;
$Black90: #333333;

$Green1:#68C21E