@import './colors';

@mixin center-div($top:50%,$left:50%,$xtranslate:50%,$ytranslate:50%){
    position:absolute;
    top:$top;
    left:$left;
    transform: translate($xtranslate,$ytranslate);
}

@mixin overlay(){
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#606060;
    opacity:0.5;
    z-index:100;
}

.error{
    color:$RedError
}