<div [formGroup]="_formGroup">
      <div class="field-container">
            <div class="field-label">
                  <label [attr.for] ="MINLENGTH_NAME">Minumum Length</label>
            </div>
            <div class="field-control">
                  <input type="number" [formControlName]="MINLENGTH_NAME" class="field-inner" [value]="_getMinValue()" [max]="MAX_LENGTH" [min]="MIN_LENGTH"/>
            </div>
      </div>
      <!--<div class="field-container">
                <fd-input [controlName]="MINLENGTH_NAME"
                          [placeholderText]=""
                          [value]="_getMinValue()"
                          [type]="number"
                          #labelInput >
                </fd-input>
                <div class="instruction" i18n="Field Instruction|Help text for the field property">
                    Type your Label
                </div>
            </div>-->

      <div class="field-container">
            <!--<div class="field-label">
                  <label [attr.for] ="MAXLENGTH_NAME">Maximum Length</label>
            </div>
            <div class="field-control">
                  <input type="number" [formControlName]="MAXLENGTH_NAME" class="field-inner" [value]="MINLENGTH" [max]="MAX_LENGTH" [min]="MIN_LENGTH"/>
            </div>-->
            <fd-input [controlName]="MAXLENGTH_NAME"
                          [placeholderText]=""
                          [value]="_getMaxValue()"
                          type="number"
                          #labelInput >
                </fd-input>
                <div class="instruction" i18n="Field Instruction|Help text for the field property">
                    Type your Label
                </div>
      </div>
</div>